.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 325px;
    /* height: 310px; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.12);
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 0 20px rgba(3, 23, 43, 0.6), 0 0 40px rgba(3, 23, 43, 0.6), 0 0 60px rgba(3, 23, 43, 0.6);
}


/* .card {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card:hover {
    box-shadow: 0 0 20px rgba(246, 6, 38, 0.6), 0 0 40px rgba(246, 6, 38, 0.6), 0 0 60px rgba(246, 6, 38, 0.6);
    transform: scale(1.12);
} */