.navbar-nav .nav-item .nav-link {
    border-radius: 10px;
    width:  100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover {
    background-color: #d9d9e0; /* Change background color */
    color: rgb(12, 12, 12); /* Change text color */
    box-shadow: 0 0 15px rgba(3, 23, 43, 0.6); /* Add shadow for highlight effect */
}
